header{
header{

color: white;
 background-image: linear-gradient(to right ,rgb(19, 152, 35),black,rgb(19, 152, 35));
}
}
.links a {
  margin-left: 20px;         
  color: white;
}
a{
    float: right;
}
h1{
    color: rgb(25, 202, 46);
    font-size:40px;
    float: right;
    position: relative;
    top:40px;
    right: 90px;

}

main{
    background-color: black;
    color: rgb(248, 239, 239);
    background-image: linear-gradient(to right ,rgb(19, 152, 35),black,rgb(19, 152, 35));
}

main p{
    margin:25px ;
     color: white;
}
p{
    font-size: 17px;
    color: rgb(110, 224, 40);
}

footer{
    color: red;
    background-color: rgb(110, 224, 40);
}
